.Ss-key-data {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  grid-area: keyData;
}

.Ss-card-container {
  background: #fbfbfb;
  display: flex;
  padding: 2rem;
  text-align: left;
}

.Ss-card-icon {
  width: 60px;
  height: 60px;
}

.Ss-card-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 1.5rem;
}

.Ss-card-quantity {
  margin: 0.125rem 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.Ss-card-type {
  margin: 0.125rem 0;
}

@media (max-width: 1024px) {
  .Ss-card-container {
    padding: 1.5rem;
  }

  .Ss-key-data {
    width: 25%;
    gap: 1rem;
  }
}
