#main {
  padding: 4rem;
  grid-area: main;
}

.Ss-main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Ss-user-infos {
  font-weight: 500;
}

.Ss-user-first-name {
  color: #ff0101;
}

.Ss-charts {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Ss-main-charts {
  width: 75%;
  display: grid;
  grid-template-rows: 1fr 16rem;
  grid-template-areas:
    "activity"
    "performances";
  grid-area: charts;
}

.Ss-performances-charts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "averageSessions performance todayScore";
  gap: 1rem;
  grid-area: performances;
}

@media (max-width: 1024px) {
  #main {
    padding: 2rem;
  }
  .Ss-main-charts {
    width: 70%;
    grid-template-rows: 17rem auto;
  }
}
